/* Allmän animering */
* {
    transition: 0.5s;
}

/* Layout-inställningar för sidan */
body {
    display: flex;
    flex-direction: column;
    background-image: url(/images/mountains.jpg);
    background-size: cover;
    padding: 3%;
}

/* Positionera sidhuvudet */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Positionera huvudsektionen */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-top: 10%;
    height: 200px;
}

/* Menyn med knappar i huvudsektionen */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}